<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.skillactivityapp">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SKILLACTIVITYAPP">

        <activity android:name=".MainActivity" />
        <activity android:name=".PageActivity_2" />
        <activity android:name=".PageActivity_3" />
        <activity android:name=".PageActivity_4" />
        <activity android:name=".PageActivity_5" />
        <activity android:name=".PageActivity_6" />
        <activity android:name=".PageActivity_7" />
        <activity android:name=".PageActivity_8" />
        <activity android:name=".PageActivity_9" />
        <activity android:name=".PageActivity_1">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>